
input[type=checkbox] {
    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: #55f336;
    text-align: center;
    line-height: 15px;
}

input[type=checkbox]:not(:checked) + label:before {
    content: "\2715";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: #f31f2c;
    text-align: center;
    line-height: 15px;
}