{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <link href="../static/css/add_entry.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}


  <div class="container">

    <div id="add-entry-form">

      <h3>Add a Budget Entry</h3>

      <fieldset>

        <form action="javascript:void(0);" method="get">
          <input type="hidden" id="budgetId" value="{{ budgetId }}">

          <input type="text" placeholder="Description" id="desc-textbox"><br><br> <!-- JS because of IE support; better: placeholder="Email" -->

          <input type="text" placeholder="Price" id="price-textbox" title="Must be a positive number."> <!-- JS because of IE support; better: placeholder="Password" -->

          <select id="tag-combobox">
            <option value="disabled" selected disabled>Choose tag</option>
			{% for tagName in tagList%}
			<option value="{{tagName}}">{{tagName}}</option>
			{% endfor %}
        </select>

        <input type="submit" id="addBudgetEntry" value="Add Budget Entry" onclick="submitNewEntry()">
        <br><span id="errorText" style="color: red">&nbsp;</span>
        </form>

      </fieldset>

    </div>
  </div>
{%endblock%}