{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <link href="../static/css/budgets.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}
    <table class="flatTable">
        <tr class="titleTr">
            <td colspan="2"></td>
            <td class="titleTd"><h3>Budget List</h3></td>
            <td colspan="2"></td>
        </tr>
        <tr class="headingTr">
            <td>Budget Name</td>
            <td>Creation Date</td>
            <td>Shared With</td>
            <td>Permission</td>
            <td>Actions</td>
        </tr>

        <tr>
            <td>BBQ</td>
            <td>Feb 21,2013</td>
            <td>8 Budgeteers</td>
            <td>Budget Manager</td>
            <td class="controlTd">
                <div class="settingsIcons">
                    <span class="settingsIcon"><i class="fa fa-cog"></i></span>
                    <span class="settingsIcon"><i class="fa fa-times"></i></span>
                    <div class="settingsIcon"><i class="fa fa-pencil"></i></div>
                </div>
            </td>
        </tr>

    </table>

    <div id="sForm" class="sForm sFormPadding">
        <span class="button close"><img src="http://i.imgur.com/nnzONel.png" alt="X"  class="" /></span>
        <h2 class="title">Add a New Record</h2>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="../static/js/budgets.js"></script>

{%endblock%}