{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <link href="../static/css/budgets.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}
    <table class="flatTable">
        <tr class="titleTr">
            <td colspan="2"></td>
            <td class="titleTd"><h3>Budget List</h3></td>
            <td colspan="2"></td>
        </tr>
        <tr class="headingTr">
            <td><a class="sortLink" href="Budgets?sort_by=name&reverse_order={{ reverse }}">Budget Name</a></td>
            <td><a class="sortLink" href="Budgets?sort_by=creation_date&reverse_order={{ reverse }}">Creation Date</a></td>
            <td><a class="sortLink" href="Budgets?sort_by=shared_with&reverse_order={{ reverse }}">Shared With</a></td>
            <td><a class="sortLink" href="Budgets?sort_by=permission&reverse_order={{ reverse }}">Permission</a></td>
            <td>Actions</td>
        </tr>

        {% for budget in budgetList %}
            <div id="pop{{ forloop.counter }}" class="popbox">
                <h2>Budgeteer List</h2>
                {% for budgeteer in budget.participantsAndPermission %}
                    <p>{{ budgeteer|budgeteer_key_to_username }}</p>
                {% endfor %}
            </div>
            <tr>
                <td><a href="Budget/{{ budget.key.id }}">{{ budget.budgetName }}</a></td>
                <td>{{ budget.creationDate }}</td>
                <td><a href="#" class="popper" data-popbox="pop{{ forloop.counter }}">{{ budget.participantsAndPermission|length }} Budgeteers</a></td>
                <td>{{ budget|getMyPermission:userName }}</td>
                <td class="controlTd">
                    <div class="settingsIcons">
                        {% if budget|getMyPermission:userName == "Manager" %}
                            <span class="settingsIcon"><i class="fa fa-cog"></i></span>
                            <span class="settingsIcon"><i class="fa fa-times"></i></span>
                            <a href="EditBudget/{{ budget.key.id }}"><span class="settingsIcon"><i class="fa fa-pencil"></i> </span></a>
                        {% else %}
                            <span class="settingsIcon"><i class="fa fa-cog"></i></span>
                            <span class="settingsIcon"><i class="fa fa-hand-o-left"></i></span>
                        {% endif %}
                    </div>
                    <div class="settingsIcons">
                </td>
            </tr>
        {% endfor %}
    </table>
    <script language="javascript">
        document.getElementById("showAllBudgetsButton").className = "active"
    </script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="../static/js/budgets.js"></script>

{%endblock%}