{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <link href="../static/css/budgets.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}

    <table class="flatTable">
        <tr class="titleTr">
            <td colspan="3"></td>
            <td class="titleTd"><h3>Budget List</h3></td>
            <td colspan="3"></td>
        </tr>
        <tr class="headingTr">
            <td>Description</td>
            <td>Amount</td>
            <td>Tag</td>
            <td>Added By</td>
            <td>Date</td>
            <td>Actions</td>
        </tr>

        <tr>
            <td>Hummus</td>
            <td>4$</td>
            <td>Salad</td>
            <td>Nadav</td>
            <td>12/03/2015</td>
            <td class="controlTd">
                <div class="settingsIcons">
                    <span class="settingsIcon"><i class="fa fa-cog"></i></span>
                    <span class="settingsIcon"><i class="fa fa-times"></i></span>
                    <div class="settingsIcon"><i class="fa fa-pencil"></i></div>
                </div>
            </td>
        </tr>

    </table>

    <div id="sForm" class="sForm sFormPadding">
        <span class="button close"><img src="http://i.imgur.com/nnzONel.png" alt="X"  class="" /></span>
        <h2 class="title">Add a New Record</h2>
    </div>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="../static/js/budgets.js"></script>

{%endblock%}