{% extends "master_page.html" %}
{% block head %}
    {{block.super}}
{% endblock %}

{% block content %}
    <div class='container'>
        <div class='panel panel-primary dialog-panel'>
            <div class='panel-body'>
                <form class='form-horizontal' role='form'>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='Notification'>Budget Notification</label>
                        <div class='col-md-2'>
                            <select class='form-control' id='Notification'>
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Budget Name</label>
                        <div class='col-md-8'>
                            <div class='col-md-2 indent-small'>
                                <div class='form-group internal'>
                                    <input class='form-control' id='BudgetName' placeholder='Budget name' type='text'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'></div>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Shred with</label>
                        <div class='col-md-8'>
                            <div class='col-md-3 indent-small'>
                                <div class='form-group internal'>
                                    <input class='form-control' id='sherd1' placeholder='invite' type='text'>
                                    <button class='btn-lg btn-primary' type='submit'>add more budgeteer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='col-md-offset-4 col-md-3'>
                            <button class='btn-lg btn-primary' type='submit'>Creat Budget</button>
                            <button class='btn-lg btn-danger' style='float:right' type='submit'>Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}
