{% extends "master_page.html" %}

{% block head %}
  {{block.super}}
<link href="../static/css/CreateBudget.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}
<div class="container">
     <h3>Create a Budget</h3>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Budget Name</label>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" id="budgetName" class="form-control input-lg" placeholder="Budget name" />
                    </div>
                </div>
            </div>
            <div class="form-group">
				<br>
            <div class="form-group">
                <label>Add a Budgeteer</label>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input  id="checkUsernameExist" type="text" class="form-control input-lg" placeholder="Budgeteer name" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" onclick='usernameExist();'>
                               <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                    </div>
                 <span id="usernameExistField"> &nbsp;</span>                        <br/>
					</div>

            <div class="form-group">
                        <label>Permissions:</label>
                        <div class="funkyradio-default">
                            <input type="radio" name="radio" id="partner" />
                            <label for="radio1">Budget Partner</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="radio" id="viewer" checked/>
                            <label for="radio2">Budget Viewer</label>
                        </div>
                    <div>
                        <input type="submit" name="Add" id="Add" value="Add the Budgeteer" class="btn btn-primary" onclick='addRow();'>
                    </div>
                </div>
                    <br>
                    <div class="container">
                    <div class="row">
                        <div class="panel panel-primary filterable">
                            <div class="panel-heading">
                                <h3 class="panel-title">Budgeteer</h3>
                            </div>
                            <table class="table" id="budgeteerTable">
                                <thead>
                                    <tr class="filters">
                                        <th>#</th>
                                        <th>Budgeteer Name</th>
                                        <th>Permissions</th>
                                        <th>Action</th>
                                    </tr>
                                <tr>
                                    <td>1</td>
                                    <td>{{ userName }}</td>
                                    <td>Budget Manager</td>
                                    <td></td>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <br>
            <div>
                <label>Tags:</label>
                <div class="checkboxContainer">
                <table width="100%">
                        {% for tagNamePair in tagnamePairList %}
                        <tr>
                            {% for tagName in tagNamePair %}
                                {%  if tagName %}
                              <td width="50%">
                                <input class="tagCheckbox" value="{{ tagName }}" id="{{ tagName }}" type="checkbox"/> {{ tagName }}
                                </td>
                                {% endif %}
                            {% endfor %}
                       </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary pull-right"
                   onsubmit="return false;" onclick="createBudget();">
        </br><span id="submitError">errortext goes here</span>
        </div>

    </div>
</div>
<script language="javascript">
document.getElementById("createBudgetButton").className = "active"
</script>

{%endblock%}