{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <link href="../static/css/edit_entry.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block content %}


  <div class="container">

    <div id="edit-entry-form">

      <h3>Edit Budget Entry</h3>

      <fieldset>

        <form action="javascript:void(0);" method="get">

          <input type="text" placeholder="Description" id="desc-textbox" value="Hummus"><br><br> <!-- JS because of IE support; better: placeholder="Email" -->

          <input type="text" placeholder="Price" id="price-textbox" value="4"> <!-- JS because of IE support; better: placeholder="Password" -->

          <select>
            <option disabled>Choose tag</option>
            <option selected value="salad">Salad</option>
            <option value="meat">Meat</option>
            <option value="dessert">Dessert</option>
            <option value="drink">Drink</option>
        </select>
         <input type="submit" id="editBudgetEntry" value="Edit Budget Entry">
		<script type="text/javascript">
			document.getElementById("editBudgetEntry").onclick = function () 
			{
				location.href = "Budget";
			};
		</script>
        </form>

      </fieldset>

    </div>
  </div>
{%endblock%}