<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>CSS Portal - Layout</title>
  <link rel="stylesheet" type="text/css" href="../static/css/master_page.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  {% endblock %}
</head>
<body>
    <div id="wrapper">

        <div id="navigation">
            {% include "top_navbar.html" %}
        </div>

        <div id="contentliquid">

        	<div id="content">
                {% block content %}
                {%endblock %}
      		 </div>
  		 </div>

        <div id="leftcolumn">
          {% include "side_navbar.html" %}
        </div>

        <div id="footer">

        </div>

    </div>

</body>

</html>
