{% extends "guest_master.html" %}

{% block head %}
    {{block.super}}
    <title>BudgetBuddy - Password Recovery</title>
    <meta http-equiv="refresh" content="8;URL=/Login">
{%endblock%}

{% block content %}
    <!-- Begin Wrapper -->
    <center>
        <br>
        <label>
            Your new password has been sent to your email,
            This page will be redirected within few seconds
        </label>
        <br>
        <label>or Click <a href="/Login">Here</a> to login </label>
    </center>
{%endblock%}
