{% extends "master_page.html" %}

{% block head %}
    {{block.super}}
    <title> BudgetBuddy - Profile Settings</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../static/css/profile_settings_1.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/css/profile_settings_2.css" media="all" />
{%endblock%}

{% block content %}
    <div class="container">

        <header>
            <h1 style="color:#4b8df9">Edit Acount Information</h1>
        </header>

        <div  class="form">
            <form id="contactform" onsubmit="return false;">

                <p class="contact"><label for="email">Email</label></p>
                <input id="email" name="email" placeholder="example@domain.com" required="" type="email" maxlength="40" tabindex="3" value="{{ email }}">

                <p class="contact"><label for="password">Old password</label></p>
                <input type="password" id="oldpassword" name="password" maxlength="40" tabindex="4">
                <p class="contact"><label for="password">New password</label></p>
                <input type="password" id="password" name="password" maxlength="40" tabindex="5">
                <p class="contact"><label for="repassword">Confirm your password</label></p>
                <input type="password" id="repassword" name="repassword" maxlength="40" tabindex="6"> <br>
                <br>
                <input class="buttom" name="submit" id="ProfileSettingSubmit" tabindex="11"  value="submit" type="submit" onsubmit="return false;" onclick="submitProfile();">
                <p class="contact"><font id = "displayError" color="red" size="4" ></font></p>
                <br>
            </form>
        </div>
    </div>
    <script language="javascript">
    document.getElementById("profileSettingsButton").className = "active"
    </script>

{%endblock%}
