{% extends "master_page.html" %}

{% block head %}
  {{block.super}}
<title> BudgetBuddy- Register</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../static/css/registration2.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/css/registration1.css" media="all" />
{%endblock%}

{% block content %}
<div class="container">

			<header>
        <h1 style="color:#4b8df9">Become A Budgeteer</h1>
      </header>  

      <div  class="form">
    		<form id="contactform"> 
    			<p class="contact"><label for="name">First Name</label></p> 
    			<input id="FirstName" name="FirstName" placeholder="First Name" required="" tabindex="1" type="text"> 

              <p class="contact"><label for="name">Last Name</label></p> 
          <input id="LastName" name="LastName" placeholder="Last Name" required="" tabindex="1" type="text"> 
           
    			 
    			<p class="contact"><label for="email">Email</label></p> 
    			<input id="email" name="email" placeholder="example@domain.com" required="" type="email"> 
                
                <p class="contact"><label for="username">Create a username</label></p> 
    			<input id="username" name="username" placeholder="username" required="" tabindex="2" type="text"> 
    			 
                <p class="contact"><label for="password">Create a password</label></p> 
    			<input type="password" id="password" name="password" required=""> 
                <p class="contact"><label for="repassword">Confirm your password</label></p> 
    			<input type="password" id="repassword" name="repassword" required=""> 
        
               <fieldset>
                 <label>Birthday</label>
                  <label class="month"> 
                  <select class="select-style" name="BirthMonth">
                  <option value="">Month</option>
                  <option  value="01">January</option>
                  <option value="02">February</option>
                  <option value="03" >March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12" >December</option>
                  </label>
                 </select>    
                <label>Day<input class="birthday" maxlength="2" name="BirthDay"  placeholder="Day" required=""></label>
                <label>Year <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Year" required=""></label>
              </fieldset>
  
            <p class="contact"><label for="password">Gender</label></p>
            <select class="select-style gender" name="gender">
            <option value="select">i am..</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="others">Other</option>
            </select><br><br>

            <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up" type="submit">  
   	 
   </form> 
</div>      
</div>

{%endblock%}
